@import url('https://fonts.googleapis.com/css?family=Kanit:300');

html,body{
    font-family: 'Kanit', sans-serif !important;
    background-color: #1f2126;
    color: #ffffff;
}
.color-gold{
    color: #ffaa00;
}
.color-gray{
    color: #a3a3a3;
}
.color-white{
    color: white;
}
label {
    display: inline-block;
    margin-bottom: 0px;
}
.font-balance-size{
    font-size: 30px;
}
.font-balance-name-size{
    padding-top:7px;
    font-size: 20px;
}
/* navbar */
.bg-navbar{
    background-color: #1b1c20;
}

/* table */
table tbody tr:nth-of-type(odd) {
    background-color: #26282d;
}
thead{
    background-color: #1b1c20;
    color: #ffffff;
}
th,td{
    padding: 20px !important;
    border:0px !important; 
}
thead th:first-child{
    border-top-left-radius: 10px;
}
thead th:last-child{
    border-top-right-radius: 10px;
}
tbody tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}
tbody tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}
table tbody{
    color: #afafaf;
}
/* card */
.card{
    background-color: #1b1c20;
    border: none;
    border-radius: 10px; 
}

/* button */
.btn-profile{
    background-color: #1f2126;
    color: #ffaa00;
    border-radius: 20px;
}
.btn-profile:hover{
    color: #ffffff;
    background-color: #383c45;
}
.btn-profile:active{
    background-color: #1b1c20;
    border:1px solid #ffaa00;
}
.btn-balance{
    background-color: #1b1c20;
    color: #ffaa00;
    border-radius: 20px;
}
.btn-balance:hover{
    color: #ffffff;
    background-color: #26282d;
}
.btn-balance:active{
    background-color: #1b1c20;
    border:1px solid #ffaa00;
}
.page-link,.page-item{
    border: none;
    color: white;
    background-color: #1f2126;
}
.page-link:hover,.page-item:hover{
    color: #1b1c20;
    background-color: #ffaa00;
}
.page-link:active,.page-item:active{
    color: #1b1c20;
    background-color: #ffaa00;
}