@import url('https://fonts.googleapis.com/css?family=Kanit:300');

html,body{
    font-family: 'Kanit', sans-serif !important;
    background-color: #131519;
    color: #ffffff;
}

/* navbar */
.band{
    background: -webkit-linear-gradient(rgb(241, 213, 127),rgb(221, 151, 54));
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-nav-top{
    background-color: #1a1c21;
}
.navbar-toggler {
    color: #a3a3a3;
    background-color: #23252c;
    font-size: 20px;
}
.nav-item-2{
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
}
.nav-item-2:hover{
    background-color: #26282d;
    border-bottom: 4px solid #F7D77A;
}
.navbar-nav .active{
    border-bottom: 4px solid  #F7D77A;
}
.color-gold{
    color: #F7D77A;
}
.color-gray{
    color: #a3a3a3;
}
.color-white{
    color: white;
}
label {
    display: inline-block;
    margin-bottom: 0px;
}
.font-balance-size{
    font-size: 30px;
}
.font-balance-name-size{
    padding-top:7px;
    font-size: 20px;
}
.bg-navbar{
    background-color: #1F2126;
}

/* table */
table tbody tr:nth-of-type(odd) {
    background-color: #26282d;
}
.bg-gold{
    color:#000000;
    background-image:  linear-gradient(#F7D77A,#D3933A);
}
thead{
    background-image:  linear-gradient(#F7D77A,#D3933A);
    color: #000000;
    
}
th,td{
    padding: 20px !important;
    border:0px !important; 
}
table tbody{
    color: #afafaf;
}
/* card */
.card{
    background-color: #1b1c20;
    border: 1px solid #F7D77A;
    border-radius: 10px; 
}
.card-play{
    font-size: 11px;
    background-color: #1a1c21;
}
.card-table{
    border: 1px solid #1a1c21;
}
.card-table:hover{
    border: 1px solid #D3933A;
}
.card-play .card-header{
    border: none;
}
.bg-black{
    background-color: #000000;
}
.bg-black-gray{
    background-image:  linear-gradient(#0D0D0D 50%,#5D5D5D);
}
/* table */
.title{
    padding: 5px;
    background-color: #1f1f1f;
}
.table-live{
    background-color: #fff;
    height: 85px;
}
.table-live-status{
    height: 23.5px;
}

/* button */
.bottom-right{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.btn-gold{
    padding: 0px  15px  0px 15px;
    border-radius: 0px;
    background-image:  linear-gradient(#F7D77A,#D3933A);
    color: #000000;
    border: 0px;
}
.btn-gold:hover{
    background-image:  linear-gradient(#D3933A,#F7D77A);
    color: #ffffff;
}
.btn-profile{
    background-color: #1a1c21;
    color: #F7D77A;
    border-radius: 20px;
}
.btn-profile:hover{
    color: #ffffff;
    background-color: #383c45;
}
.btn-profile:active{
    background-color: #1b1c20;
    border:1px solid #F7D77A;
}
.btn-balance{
    background-color: #131519;
    color: #F7D77A;
    border-radius: 20px;
}
.btn-balance:hover{
    color: #ffffff;
    background-color: #26282d;
}
.btn-balance:active{
    background-color: #1b1c20;
    border:1px solid #F7D77A;
}
.page-link,.page-item{
    border: none;
    color: white;
    background-color: #131519;
}
.page-link:hover,.page-item:hover{
    color: #1b1c20;
    background-color: #F7D77A;
}
.page-link:active,.page-item:active{
    color: #1b1c20;
    background-color: #F7D77A;
}
.page-item .active{
    background-color: #F7D77A;
    color: #000000;
}

/* echo marketing */
.echo-marketing{
    position: relative;
    background-color: #101011;
    padding:10px 10px 2px 50px;
    color: #747474;
    font-size: 14px;
    border-radius: 40px;
}
.echo-marketing .echo-marketing-img{
    position: absolute;
    left: 20px;
    top:13px;
}
.carousel-item img{
    object-fit: cover;
    height:375px;
}